html {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
} 
/* 
  body{
    width: 100%;
     background-color:
     min-height: 100vh;
  } */
/* 
*,*::after,  *::before {
  box-sizing: inherit;
}

.App {
  width: 100%;
   background-color:
} */